script(async custom-element='amp-font' src='https://cdn.ampproject.org/v0/amp-font-0.1.js')
amp-font(
  layout='nodisplay'
  font-family='Blocky'
  timeout='2000'
  on-load-add-class='blocky-loaded'
  on-error-add-class='blocky-cant-load'
)
